<h3>Knoten anzeigen (<%= @nodes.count %>) </h3>

<table border="0" cellspacing="0" width='100%' >
  <tr>
    <th>Name</th>
    <th>Version</th>


    <th>Punkte</th>
  </tr>
<% for node in @nodes %>
  <% if node.last_seen + 1.day > Date.today %>
  	<tr bgcolor="#33CC00">
  <% elsif node.last_seen + 7.days > Date.today %>
  	<tr bgcolor="#FFFF00">
  <% else %>
  	<tr bgcolor="#FF3300">
  <%end %>
    <td><%= link_to node.name, node %></td>
    <td align='center'><%=h node.version %></td>

    
    <td align='center'><%=h    node.score %></td>
  </tr>
<% end %>
</table>


