<h3>Crews Highscore</h3>

<table width='60%'>
  <tr>
    <th>Name</th>
    <th>Punkte</th>
  </tr>

<% for crew in @crews %>
  <tr>
    <td><%= link_to crew.name, crew %></td>

    <td><center><%=h crew.score %></center></td>

  </tr>
<% end %>
</table>


