<h3>Highscore nach Gruppen</h3>

<table width='60%'>
  <tr>
    <th>Name</th>
    <th>Punkte</th>
  </tr>

<% for group in @groups %>
  <tr>
    <td><%= link_to group.name, group %></td>

    <td><center><%=h group.score %></center></td>

  </tr>
<% end %>
</table>


