<h3>Highscore nach Geräten</h3>

<table width='60%'>
  <tr>
    <th>Platz</th>
    <th>Name</th>
    <th>Punkte</th>
  </tr>

<% counter = 0
for node in @nodes 
counter += 1 %>
  <tr>
    <td><%= counter %>.</td>
    <td><%= link_to node.name, node %></td>

    <td><center><%=h node.score %></center></td>

  </tr>
<% end %>
</table>

