<h3>Highscore nach Geräten</h3>

<table width='60%'>
  <tr>
    <th>Name</th>
    <th>Punkte</th>
  </tr>

<% for node in @nodes %>
  <tr>
    <td><%= link_to node.name, node %></td>

    <td><center><%=h node.score %></center></td>

  </tr>
<% end %>
</table>

