<h3>Highscore Parteien</h3>

<table width='60%'>
  <tr>
    <th>Name</th>
    <th>Punkte</th>
  </tr>

<% for partei in @parteis %>
  <tr>
    <td><%= link_to partei.name, partei %></td>

    <td><center><%=h partei.score %></center></td>

  </tr>
<% end %>
</table>
