<h3>Highscore nach Parteien</h3>

<table width='60%'>
  <tr>
    <th>Platz</th>
    <th>Name</th>
    <th>Punkte</th>
  </tr>

<% counter = 0
for party in @parties 
counter += 1%>
  <tr>
    <td><%= counter %>.</td>
    <td><%= link_to party.name, party %></td>

    <td><center><%=h party.score %></center></td>

  </tr>
<% end %>
</table>


