<h3>Highscore nach Bundesländern</h3>

<table width='60%'>
  <tr>
    <th>Platz</th>
    <th>Name</th>
    <th>Punkte</th>
  </tr>

<% counter = 0
 for province in @provinces 
counter += 1 %>
  <tr>
    <td><%= counter %>.<td>
    <td><%= province.name %></td>

    <td><center><%=h province.score %></center></td>

  </tr>
<% end %>
</table>

